@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shimmer {
  0% {
    transform: translateX(-100%) translateY(0);
  }
  100% {
    transform: translateX(100%) translateY(0);
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-white text-gray-900 antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
